main {
    min-height: calc(100vh - 160px);
  }
/* estilos para cuando se despliegan las imagenes */
  #contenedor {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
  }
  
  .card {
    width: 300px; 
    flex-grow: 1; 
  }
  
